@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
a{
    text-decoration: none;
    color: var(--cor0);
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
    font-family:var(--fonte-padrao);
}
header{
    text-align: center;
    color: white;
    background-color: var(--cor4);
    box-shadow: 0px 42px 30px black;
    border-radius: 0px 0px 20px 20px;
}
nav{
    max-width: 350px;
    background-color: var(--cor5);
    margin: 10px;
    border: #ebe5c5 solid;
    padding: 5px;
    border-radius: 20px;
}
nav p{
    list-style: none;
    margin: auto;
}
main{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
}
article{
    border-radius: 20px;
    background-color: white;
}
footer{
    text-align: center;
    background-color: var(--cor5);
    color: white;
}
h3{
    padding: 10px;
    background-color: #83e1ad;
}
section{
    padding: 30px;
}
.flex{
    display: flex;
}
.coluna{
    margin: auto;
}
aside{
    margin: 10px;
    padding: 30px;
}
ul{
    list-style: none;
}
picture#bugdroid img{
    display: block;
    margin: auto;
    max-width: 450px;
}
picture#dan-droids{
    width: 100px;
}
picture#dan-droids img{
    width: 300px;
}
img{
    width: 100%;
}
div#backgroundGreen{
    background-color: #1a5c37;
}
iframe{
    width: 100%;
    margin: auto;
}
.freme{
    display: block;
    margin: auto;
    padding: 50px;
}
.freme0{
    margin: auto;
    padding: 50px;
}